<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>목표 상세 페이지</title>
</head>
<body>

    <header>
        header
        <hr>
    </header>

    <main id="goal-main" >
        <header>
            <h1>새로운 목표</h1>
        </header>

        <aside>
            <form>
                <p>제목</p>
                <textarea name="title" id="title" cols="30" rows="1" th:text="${goal.goal_name}"></textarea>
                <p>내용</p>
                <textarea name="contents" id="contents" cols="30" rows="3" th:text="${goal.goal_detail}"></textarea>
                <p>목표시간</p>
                <textarea name="time" id="time" cols="30" rows="1" th:text="${goal.goal_seconds}"></textarea>
                <button type="submit">저장</button>
            </form>

        </aside>
    </main>

    <footer>
        <hr>
        footer
    </footer>
</body>
</html>