<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>목표 리스트 페이지</title>
</head>
<body>

    <header>
        header
        <hr>
    </header>

    <main>
        <form>

        </form>
        <table class="table" id="goal-table">
            <thead>
                <tr>
                    <th class="goal-name col-6">목표명</th>
                    <th class="goal-id col">목표ID</th>
                    <th class="goal-detail col-10">목표 상세내용</th>
                    <th class="goal-seconds col">목표 시간</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="goal : ${goals}">
                <td class="goal-name" ><a th:href="@{'/goals/' + ${goal.goal_id}}" th:text="${goal.goal_name}"></a>></td>
                <td class="goal-id" th:text="${goal.goal_id}"></td>
                <td class="goal-detail" th:text="${goal.goal_detail}"></td>
                <td class="goal-seconds" th:text="${goal.goal_seconds}"></td>
            </tr>
            </tbody>
        </table>
        <nav>
            <table>
                <tr>
                    <td>previous</td>
                    <td>next</td>
                </tr>
            </table>
        </nav>
    </main>

    <footer>
        <hr>
        footer
    </footer>
</body>
</html>